@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Raleway&display=swap');

$light-bc:rgba(206, 237, 252, 0.822);
$light-text: rgb(37, 32, 105);

$dark-bc: rgba(12, 40, 53, 0.8);
$dark-text: rgb(255, 145, 0);

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./scenic-view-of-mountains-during-dawn-1261728.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  display: flex;
  justify-content: center;
}



.app-wrapper {
  background-color: $light-bc;
  position: relative;
  width: 90%;
  height: 500px;
  margin-top: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  color: rgb(37, 32, 105);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    color: rgb(52, 152, 219);
    margin-right: 20px;
    word-wrap: none;
  }
  img {
    width: 75px;
  }
}


.lightmode {
  background-color: $light-bc;
  color: $light-text;
}

.darkmode {
  background-color: $dark-bc;
  color: $dark-text;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 300px;
  margin-bottom: 20px;
  height: 45px;
  box-sizing: border-box;
}

.form-input {
  width: 100%;
  padding: 15px 10px 10px 20px;
  margin-right: 10px;
  font-size: 12px;
  background-color: rgba(191, 214, 226, 0.8);
  border: 1px solid rgb(37, 32, 105);
  outline: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.form-input:focus {
  border: 2px solid rgb(52, 152, 219);
}

.btn {
  padding: 10px 12px;
  font-size: 16px;
  background-color: rgba(191, 214, 226, 0.8);
  border: 1px solid rgb(37, 32, 105);
  outline: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-sizing:border-box;
}

.btn:hover {
  outline: none;
  border: 2px solid rgb(52, 152, 219);
}

.content {
  display: flex;
  justify-content: center;
}

.big-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  margin-top: 10px; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.time {
  font-size: 12px;
  text-align: left;
}

.temp {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 20px;
}

.text-box {
  width: 50%;
  text-align: center;
}

.text-box p{
  line-height: 24px;
  text-align: left;
}

.icon-box {
  width: 50%;
  background: center/contain no-repeat;
}

.error {
  text-align: center;
  color: rgb(214, 23, 23);
  font-size: 18px;
}

.toggle-btn {
  cursor: pointer;
  width: 40px;
  height: 48px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.toggle-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 12px;
    text-align: center;
  }
  img {
  height: 40px;
  width: 40px;
  }

}
.lightmode-caption {
  color: orange;
}

@media only screen and (min-width: 600px) {
  .app-wrapper {
    width: 65%;
  }
  .header h2 {
    font-size: 28px;
  }
  .header img {
    width: 100px;
  }
  .form-input {
    font-size: 14px;
  }
  .btn {
    font-size: 18px;
  }
  .time {
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {
  .app-wrapper {
    width: 35%;
    height: 70%;
    padding: 5px;
  }
  .header h2 {
    font-size: 36px;
  }
  .header img {
    width: 125px;
  }
  .form-input {
    font-size: 16px;
  }
  .btn {
    font-size: 21px;
  }
  .time {
    font-size: 18px;
  }
}
